<div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<section id="about">
	<div id="quienes">
	    <div class="container">
	        <div class="section-heading scrollpoint sp-effect3 active animated fadeInDown">
	            <h1>Somos Texha<br/>Argentina</h1>
	            <div class="divider"></div>
	            <p>Soluciones Simples a Problemas Complejos</p>
	        </div>

	        <div class"row">
		        <div class="bs-callout bs-callout-info col-md-8 col-md-offset-2 col-xs-offset-1" >
		        	<h4>¿Qué es Texha Argentina?</h4>
		        	<p>Somos un grupo de profesionales, con experiencia y conocimiento en empresas de nivel nacional e internacional.<br/>
		        	Con fuerte orientación hacia la tecnología, como medio para mejorar el negocio.</p>
		        </div>
		        <div class="bs-callout bs-callout-red col-md-8 col-md-offset-2 col-xs-offset-1" >
		        	<h4>¿Cuál es nuestra Pasión?</h4>
		        	<p>Trabajar con nuestros clientes con el objetivo de incrementar sus ganancias, aumentando sus ventas y reduciendo sus costos.</p>
		        </div>
		        <div class="bs-callout bs-callout-info col-md-8 col-md-offset-2 col-xs-offset-1" >
		        	<h4>¿Cómo lo hacemos?</h4>
		        	<p>Aportando toda nuestra experiencia y conocimiento e invirtiendo en el armado de productos y servicios flexibles, que se adaptan fácilmente a cada uno de nuestros clientes.</p>
		        </div>
		        <div class="bs-callout bs-callout-green col-md-8 col-md-offset-2 col-xs-offset-1" >
		        	<h4>¿Por qué Elegirnos a Nosotros?</h4>
		        	<p>Porque tenemos un Sistema de Negocio que combina productos tecnológicos y servicios de alta calidad, a un costo que acompaña cada etapa del crecimiento de las empresas.</p>
		        </div>
		        <div class="bs-callout bs-callout-info col-md-8 col-md-offset-2 col-xs-offset-1" >
		        	<h4>¿Qué es Alta Calidad para Texha?</h4>
		        	<p>Alta calidad significa que cada producto o servicio de asesoramiento se basa en la Tecnología más avanzada y en las últimas y más probadas técnicas de marketing (en el caso de ventas) y de ingeniería (en el caso de costos).</p>
		        </div>
		        <div class="bs-callout bs-callout-info col-md-8 col-md-offset-2 col-xs-offset-1" >
		        	<h4>¿Por Qué Costos Accesibles?</h4>
		        	<p>Porque nos basamos en el principio de las “Soluciones Standard”, que expresa que el 70% de los problemas (de la mayoría de las empresas), son complejos y comparten causas con el resto de las compañías.<br/>
					Si su empresa pertenece a esa mayoría, lo cual es muy probable, podremos implementar nuestras soluciones, y así aumentar sus ventas y reducir sus gastos, a un costo que pueda afrontar.</p>
		        </div>
		        <div class="bs-callout col-md-8 col-md-offset-2 col-xs-offset-1">
			        <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
		        </div>
	        </div>
	    </div>
	</div>
</section>



