<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html, charset=UTF-8" http-equiv='Content-Type' />
</head>
<body>

<p>Nombre: <%= @principal.con_nombre  %> </p>
<p>Mail: <%= @principal.con_mail  %> </p>
<p>Motivo: <%= @principal.mov_obs  %> </p>

</body>
</html>


